# Analyze Categories of the Data with Groupby

## Load the data

In [1]:
import seaborn as sns

df_titanic = sns.load_dataset('titanic').loc[:,['alive', 'class', 'sex', 'age', 'fare']]
df_titanic['class'] = df_titanic['class'].astype(str)
df_titanic

    alive  class     sex   age     fare
0      no  Third    male  22.0   7.2500
1     yes  First  female  38.0  71.2833
..    ...    ...     ...   ...      ...
889   yes  First    male  26.0  30.0000
890    no  Third    male  32.0   7.7500

[891 rows x 5 columns]

## Which was the maximum age of males and females in the Titanic?

## How the `groupby()` works?

### Multiple DataFrames based on the categories

### Mathematical operations altogether (Python one-liner)

## Who paid more, on average, to go on the Titanic based on `class` and `sex`?

## Visualize the data

## Get access to our Python Course for Data Visualization

https://courses.resolvingpython.com/data-visualization